*.DS_Store
plots/*.pdf
data/crdb
data/output
*__pycache__/
output
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

venv

bayesian.back.ipynb
out/
data/sync.sh
sync-cluster.sh
condor-out/
temp*
papers
