numpy~=2.0
iminuit~=2.0
jacobi~=0.9
matplotlib~=3.0
crdb~=0.12
jupyter~=1.0
scipy~=1.0
emcee~=3.0
tqdm~=4.0
corner~=2.0
num2tex
pydantic~=2.0
pydantic_numpy~=9.0
cmasher~=1.0
h5py~=3.0
# htcondor>=23

mypy~=1.0
ruff~=0.14
